<h2>Angular CRUD</h2>

<!-- ADD -->
<!-- <input [(ngModel)]="newPost.title" placeholder="Title">
<input [(ngModel)]="newPost.body" placeholder="Body">
<button (click)="addPost()">Add</button>

<hr> -->

<!-- UPDATE -->
<!-- <div *ngIf="editingPost">
  <input [(ngModel)]="editingPost.title">
  <input [(ngModel)]="editingPost.body">
  <button (click)="updatePost()">Update</button>
</div>

<hr> -->

<!-- LIST -->
<!-- <ul>
  <li *ngFor="let post of posts">
    <b>{{ post.title }}</b>
    <button (click)="editPost(post)">Edit</button>
    <button (click)="deletePost(post.id)">Delete</button>
  </li>
</ul>

<input type="radio"   value="a" (change)="show('a')">A
<input type="radio"   value="b" (change)="show('b')">B

<div *ngIf="showbutton === 'a' ">A</div>
<div *ngIf="showbutton ==='b' ">B</div>

<div [ngClass]="{'myclass':data === 'raja' }">
  <div [ngStyle]="{'backgroundcolor': data === 'raja' ? 'pink': 'red'}"></div>


</div>

<input [(ngModel)]="model"> -->
 <p>{{model}}</p>
<p appTestcss>{{pipevalue | test}}</p> 
<p appTestcss>{{' ' | test}}</p>
 <button (click)="gotochild()">Open Parent</button>

<!-- routerLink="/child/leo" -->

<table>
  <tr *ngFor="let data of namelist; let i = index">
     <td>{{i + 1}}. {{data.name}}</td> 
  </tr>
 
</table>

<select (change)="catogeryselect($event)"  [(ngModel)]="category">
  <option> vegitable</option>
   <option>fruits</option>
</select>

<div *ngIf="category === 'vegitable' " [ngClass]="{'testclass':category === 'vegitable' }">
  this is vegitable
</div>

<div *ngIf="category === 'fruits'" [ngStyle]="{'background-color':category === 'fruits' ? 'red' : 'yellow' }">
  this is fruits
</div>

<p>selectd category : {{category}}</p>
<input tybe="text" [(ngModel)]="category">

<p> this is leo</p>
<router-outlet></router-outlet>

